body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: green;
    border: 1px solid gray;
    background-color: #b1afaf;
    padding: 5px;
    border-radius: 11px;
    box-shadow: 2px 3px #5e5c5c;
}

